{% extends "base.html" %}
{% block content %}
<h2> Dane Użytkownika: </h2>

<ul>
    <li>
        Imię: {{ customer.first_name }}
    </li>
    <li>
        Nazwisko: {{ customer.last_name }}
    </li>
    <li>
        Email: {{ customer.email }}
    </li>
    <li>
        Numer telefonu: {{ customer.phone }}
    </li>
    <li>
        Miasto: {{ customer.city }}
    </li>
    <li>
        Ulica: {{ customer.street }}
    </li>
    <li>
        Kod pocztowy: {{ customer.postcode }}
    </li>
</ul>
    <a href="/user/modify/{{ customer.id }}/">edytuj</a>

{% endblock %}